PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE users (
	email VARCHAR(200) NOT NULL, 
	name VARCHAR(200) NOT NULL, 
	password_hash VARCHAR(255) NOT NULL, 
	role VARCHAR(20) NOT NULL, 
	is_active BOOLEAN NOT NULL, 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	PRIMARY KEY (email)
);
INSERT INTO users VALUES('admin@demo.com','Admin','scrypt:32768:8:1$4dv06fTDGVRvz6ha$2220cc1dd2e55c5d596e4a1cebad4285d0534c9dfa8bbb96ec58e5d6ecf7d58488885cbf90bef2df2dd27850f849210c36060e84179c53ee2af877abe22eb493','user',1,'2025-12-23 23:17:47');
CREATE TABLE hubs (
	id INTEGER NOT NULL, 
	name VARCHAR(200) NOT NULL, 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	PRIMARY KEY (id), 
	UNIQUE (name)
);
INSERT INTO hubs VALUES(1,'Madrid Puerta Toledo','2025-12-23 23:18:47');
INSERT INTO hubs VALUES(3,'Dibecesa','2025-12-27 16:05:25');
INSERT INTO hubs VALUES(4,'Cordoba','2025-12-27 16:05:25');
CREATE TABLE employees (
	id INTEGER NOT NULL, 
	hub_id INTEGER NOT NULL, 
	name VARCHAR(200) NOT NULL, 
	active BOOLEAN NOT NULL, 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	PRIMARY KEY (id), 
	CONSTRAINT uq_employee_hub_name UNIQUE (hub_id, name), 
	FOREIGN KEY(hub_id) REFERENCES hubs (id)
);
INSERT INTO employees VALUES(1,1,'Gabriel D''Aloia',1,'2025-12-24 00:08:20');
INSERT INTO employees VALUES(2,1,'David Lomas madrigal',1,'2026-01-02 10:42:20');
INSERT INTO employees VALUES(3,1,'Juan Manuel Ramirez',1,'2026-01-02 10:42:39');
CREATE TABLE asistencias_comments (
	id INTEGER NOT NULL, 
	hub_id INTEGER NOT NULL, 
	month_key VARCHAR(7) NOT NULL, 
	comment_start TEXT NOT NULL, 
	comment_end TEXT NOT NULL, 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	updated_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	PRIMARY KEY (id), 
	CONSTRAINT uq_hub_month_comment UNIQUE (hub_id, month_key), 
	FOREIGN KEY(hub_id) REFERENCES hubs (id)
);
CREATE TABLE attendance (
	id INTEGER NOT NULL, 
	employee_id INTEGER NOT NULL, 
	day VARCHAR(10) NOT NULL, 
	code VARCHAR(5) NOT NULL, 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	updated_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	PRIMARY KEY (id), 
	CONSTRAINT uq_employee_day UNIQUE (employee_id, day), 
	FOREIGN KEY(employee_id) REFERENCES employees (id)
);
INSERT INTO attendance VALUES(1,1,'2025-12-01','1','2025-12-24 00:11:20','2025-12-24 00:11:20');
INSERT INTO attendance VALUES(2,1,'2025-12-02','1','2025-12-24 00:11:20','2025-12-24 00:11:20');
INSERT INTO attendance VALUES(3,1,'2025-12-03','1','2025-12-24 00:11:20','2025-12-24 00:11:20');
CREATE TABLE extra_hours (
	id INTEGER NOT NULL, 
	employee_id INTEGER NOT NULL, 
	day VARCHAR(10) NOT NULL, 
	hours VARCHAR(20) NOT NULL, 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	updated_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, 
	PRIMARY KEY (id), 
	CONSTRAINT uq_employee_day_he UNIQUE (employee_id, day), 
	FOREIGN KEY(employee_id) REFERENCES employees (id)
);
INSERT INTO extra_hours VALUES(1,1,'2025-12-01','2,5','2025-12-24 00:11:20','2025-12-24 00:11:20');
INSERT INTO extra_hours VALUES(2,1,'2025-12-02','6','2025-12-24 00:11:20','2025-12-24 00:11:20');
INSERT INTO extra_hours VALUES(3,1,'2025-12-03','5','2025-12-24 00:11:20','2025-12-24 00:11:20');
CREATE TABLE alembic_version (
	version_num VARCHAR(32) NOT NULL, 
	CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);
INSERT INTO alembic_version VALUES('b09b5bb6142b');
CREATE TABLE liquidacion_rutas (
	id INTEGER NOT NULL, 
	hub_id INTEGER NOT NULL, 
	code VARCHAR(50) NOT NULL, 
	active BOOLEAN NOT NULL, 
	created_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(hub_id) REFERENCES hubs (id), 
	CONSTRAINT uq_hub_route_code UNIQUE (hub_id, code)
);
INSERT INTO liquidacion_rutas VALUES(1,3,'011',1,'2025-12-27 16:05:25');
INSERT INTO liquidacion_rutas VALUES(2,3,'002',1,'2025-12-27 16:05:25');
INSERT INTO liquidacion_rutas VALUES(3,3,'004',1,'2025-12-27 16:05:25');
CREATE TABLE IF NOT EXISTS "liquidacion_entries" (
	id INTEGER NOT NULL, 
	route_id INTEGER NOT NULL, 
	day VARCHAR(10) NOT NULL, 
	repartidor VARCHAR(200) NOT NULL, 
	metalico VARCHAR(50) NOT NULL, 
	ingreso VARCHAR(50) NOT NULL, 
	created_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	updated_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	comment VARCHAR(500) NOT NULL, 
	PRIMARY KEY (id), 
	CONSTRAINT uq_route_day UNIQUE (route_id, day), 
	FOREIGN KEY(route_id) REFERENCES liquidacion_rutas (id)
);
CREATE TABLE flota_vehiculos (
	id INTEGER NOT NULL, 
	hub_id INTEGER NOT NULL, 
	matricula VARCHAR(30) NOT NULL, 
	tipo VARCHAR(30) NOT NULL, 
	active BOOLEAN NOT NULL, 
	created_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	updated_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(hub_id) REFERENCES hubs (id), 
	CONSTRAINT uq_hub_matricula UNIQUE (hub_id, matricula)
);
INSERT INTO flota_vehiculos VALUES(1,4,'C6-789-BWR','Moto',1,'2026-01-01 18:35:54','2026-01-01 18:59:39');
INSERT INTO flota_vehiculos VALUES(2,4,'C6-789-BWU','Moto',0,'2026-01-01 18:37:46','2026-01-01 19:18:37');
INSERT INTO flota_vehiculos VALUES(3,8,'C-9868-BWS','Moto',1,'2026-01-02 09:41:50','2026-01-02 09:41:50');
CREATE TABLE IF NOT EXISTS "kilos_litros" (
	id INTEGER NOT NULL, 
	hub_id INTEGER NOT NULL, 
	year INTEGER NOT NULL, 
	month INTEGER NOT NULL, 
	ruta_numero INTEGER NOT NULL, 
	clientes INTEGER NOT NULL, 
	kilos FLOAT NOT NULL, 
	litros FLOAT NOT NULL, 
	active BOOLEAN NOT NULL, 
	created_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	updated_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	day VARCHAR(10) DEFAULT '1970-01-01' NOT NULL, 
	nombre VARCHAR(120) DEFAULT ('') NOT NULL, 
	PRIMARY KEY (id), 
	CONSTRAINT uq_hub_day_ruta_kilos UNIQUE (hub_id, day, ruta_numero, active), 
	FOREIGN KEY(hub_id) REFERENCES hubs (id)
);
INSERT INTO kilos_litros VALUES(1,4,2026,1,31,12,2500.0,0.0,0,'2026-01-01 19:44:31','2026-01-01 20:40:22','1970-01-01','');
INSERT INTO kilos_litros VALUES(2,4,2026,1,7,14,1200.0,0.0,0,'2026-01-01 19:45:11','2026-01-01 20:40:19','1970-01-01','');
INSERT INTO kilos_litros VALUES(3,4,2026,1,31,25,3000.0,0.0,0,'2026-01-01 20:40:42','2026-01-01 20:41:34','2026-01-01','Gabriel');
CREATE TABLE IF NOT EXISTS "hub_compras" (
	id INTEGER NOT NULL, 
	hub_id INTEGER NOT NULL, 
	item VARCHAR(200) NOT NULL, 
	donde VARCHAR(200) NOT NULL, 
	precio FLOAT NOT NULL, 
	comprado BOOLEAN NOT NULL, 
	active BOOLEAN NOT NULL, 
	created_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	updated_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	cantidad INTEGER DEFAULT '1' NOT NULL, 
	especificaciones VARCHAR(500) NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(hub_id) REFERENCES hubs (id)
);
CREATE TABLE flota_incidencias (
	id INTEGER NOT NULL, 
	hub_id INTEGER NOT NULL, 
	vehiculo_id INTEGER NOT NULL, 
	titulo VARCHAR(200) DEFAULT '' NOT NULL, 
	descripcion VARCHAR(1000) DEFAULT '' NOT NULL, 
	coste FLOAT DEFAULT '0' NOT NULL, 
	km INTEGER DEFAULT '0' NOT NULL, 
	fecha DATE NOT NULL, 
	created_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	updated_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	PRIMARY KEY (id), 
	CONSTRAINT fk_flota_incidencias_hub_id FOREIGN KEY(hub_id) REFERENCES hubs (id), 
	CONSTRAINT fk_flota_incidencias_vehiculo_id FOREIGN KEY(vehiculo_id) REFERENCES flota_vehiculos (id)
);
INSERT INTO flota_incidencias VALUES(1,1,11,'hojpo','giyyg1',200.0,2000,'2026-01-04','2026-01-04 06:13:58','2026-01-04 06:13:58');
CREATE TABLE hub_contactos (
	id INTEGER NOT NULL, 
	hub_id INTEGER NOT NULL, 
	nombre VARCHAR(200) NOT NULL, 
	cargo VARCHAR(120) NOT NULL, 
	telefono VARCHAR(40) NOT NULL, 
	active BOOLEAN NOT NULL, 
	created_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	updated_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(hub_id) REFERENCES hubs (id), 
	CONSTRAINT uq_hub_telefono_contacto UNIQUE (hub_id, telefono)
);
INSERT INTO hub_contactos VALUES(1,1,'Gabriel D''Aloia','Jefe de trafico','+34605952611',1,'2026-01-04 16:17:02','2026-01-04 16:17:15');
INSERT INTO hub_contactos VALUES(2,1,'juan','perdor','15451554144',0,'2026-01-04 16:17:27','2026-01-04 16:17:32');
INSERT INTO hub_contactos VALUES(3,1,'David Lomas madrigal','Coordinador','+34620682127',1,'2026-01-04 16:18:37','2026-01-04 16:18:37');
CREATE TABLE heineken_pedidos (
	id INTEGER NOT NULL, 
	hub_id INTEGER NOT NULL, 
	pedido_codigo VARCHAR(60) NOT NULL, 
	cliente_codigo VARCHAR(60) NOT NULL, 
	ruta_code VARCHAR(50) NOT NULL, 
	fecha DATE NOT NULL, 
	estado VARCHAR(20) NOT NULL, 
	reprogramado_a DATE, 
	created_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	updated_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(hub_id) REFERENCES hubs (id)
);
CREATE TABLE IF NOT EXISTS "reparto_clientes" (
	id INTEGER NOT NULL, 
	hub_id INTEGER NOT NULL, 
	cliente_codigo VARCHAR(80) NOT NULL, 
	nombre VARCHAR(220) NOT NULL, 
	direccion VARCHAR(400) NOT NULL, 
	lat FLOAT NOT NULL, 
	lng FLOAT NOT NULL, 
	created_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	updated_at DATETIME DEFAULT (CURRENT_TIMESTAMP) NOT NULL, 
	route_id INTEGER NOT NULL, 
	activo BOOLEAN DEFAULT 1 NOT NULL, estado VARCHAR(20) NOT NULL, 
	PRIMARY KEY (id), 
	CONSTRAINT fk_reparto_clientes_route_id FOREIGN KEY(route_id) REFERENCES liquidacion_rutas (id), 
	CONSTRAINT uq_reparto_hub_route_cliente UNIQUE (hub_id, route_id, cliente_codigo), 
	CONSTRAINT fk_reparto_clientes_hub_id FOREIGN KEY(hub_id) REFERENCES hubs (id)
);
INSERT INTO reparto_clientes VALUES(1,4,'MANUAL-1','BODEGUILLA DE CA├æERO','Funcionario L├ízaro Navajas 41, 14010 C├│rdoba',37.87599999999999767,-4.777000000000000135,'2026-01-18 13:19:41','2026-01-19 09:44:09',6,0,'pendiente');
INSERT INTO reparto_clientes VALUES(2,4,'MANUAL-2','BODEGUILLA DE CA├æERO','Funcionario L├ízaro Navajas 41, 14010 C├│rdoba',37.87599999999999767,-4.777000000000000135,'2026-01-19 09:43:31','2026-01-19 11:38:51',6,0,'pendiente');
INSERT INTO reparto_clientes VALUES(3,4,'MANUAL-3','BODEGUILLA DE CA├æERO.','CALLE FUNCIONARIO LAZARO NAVAJAS 41 14010 CORDOBA',37.88861090000000332,-4.757605500000000375,'2026-01-19 12:27:17','2026-01-19 12:27:17',6,1,'pendiente');
CREATE INDEX ix_pedido_hub_fecha_ruta_cliente ON heineken_pedidos (hub_id, fecha, ruta_code, cliente_codigo);
COMMIT;
